<% layout("/layouts/boilerplate.ejs")  %>
<body>
    <h2>Your Listings</h2>

    <ul>
        <li><%=listings.title%></li>
        <li><%=listings.description%></li>
        <li>&#8377;<%=listings.price.toLocaleString("en-IN")%></li>
        <li><%=listings.location%></li>
        <li><%=listings.country%></li>
    </ul>
    <br>
    <a href="/listings/<%= listings._id%>/edit">edit this</a><br><br>
    <form method="POST" action="/listings/<%=listings._id%>?_method=DELETE">
        <button>Delete</button>
    </form>
</body>
